<h1>Listing conditions</h1>

<table>
  <tr>
    <th>Device</th>
    <th>Comparison</th>
    <th>Value</th>
    <th>Json data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conditions.each do |condition| %>
  <tr>
    <td><%= link_to condition.device.name, device_path(condition.device) %></td>
    <td><%= condition.comparison_string %></td>
    <td><%= condition.value.to_s + " " + condition.device.device_type.unit %></td>
    <td><%= condition.json_data %></td>
    <td><%= link_to 'Show', condition %></td>
    <td><%= link_to 'Edit', edit_condition_path(condition) %></td>
    <td><%= link_to 'Destroy', condition, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Condition', new_condition_path %>
