<p id="notice"><%= notice %></p>

<p>
  <b>Condition set:</b>
  <%= link_to @condition.condition_set.name, condition_set_path(@condition.condition_set) %>
</p>

<p>
  <b>Device:</b>
  <%= link_to @condition.device.name, device_path(@condition.device) %>
</p>

<p>
  <b>Comparison:</b>
  <%= @condition.comparison_string %>
</p>

<p>
  <b>Value:</b>
  <%= @condition.value.to_s + " " + @condition.device.device_type.unit %>
</p>

<p>
  <b>Json data:</b>
  <%= @condition.json_data %>
</p>


<%= link_to 'Edit', edit_condition_path(@condition) %> |
<%= link_to 'Back', conditions_path %>
