<% content_for :title do 'Devices' end %>

<div class="grid_12">
    <div class="block-border">
        <div class="block-header">
            <h1>List of Devices</h1><span></span>
        </div>
        <div class="block-content">
            <table id="table-devices" class="table">
                <thead>
                    <tr>
    <th>Name</th>
    <th>Device type</th>
    <th>Room</th>
    <th>Active</th>
    <th>Default value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @devices.each do |device| %>
  <tr>
    <td><%= device.name %></td>
    <td><%= link_to device.device_type.name, device_type_path(device.device_type) %></td>
    <td><%= link_to device.location.room.name, room_path(device.location.room) %></td>
    <td><%= device.active %></td>
    <td><%= device.default_value %></td>
    <td><%= link_to 'Show', device %></td>
    <td><%= link_to 'Edit', edit_device_path(device) %></td>
    <td><%= link_to 'Destroy', device, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Device', new_device_path %>
<% content_for :ready_js do "$('#table-devices').dataTable();" end %>
