<% content_for :title do 'Devices' end %>
<h1>Devices</h1>
<div class="grid_12">
    <div class="block-border">
        <div class="block-header">
            <h1>List of Devices</h1>
<p align="right" ><%= link_to 'Add New Device', new_device_path %>&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="block-content">
            <table id="table-devices" class="table">
                <thead>
                    <tr>
    <th>Name</th>
    <th>Device type</th>
    <th>Room</th>
    <th>Active</th>
    <th>Default value</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @devices.each do |device| %>
  <tr>
    <td><%= device.name %></td>
    <td><%= link_to device.device_type.name, device_type_path(device.device_type) %></td>
    <td><%= link_to device.location.room.name, room_path(device.location.room) %></td>
    <td><%= device.active %></td>
    <td><%= device.default_value %></td>
    <td><%= device.value %></td>
    <td><%= link_to 'Show', device %></td>
    <td><%= link_to 'Edit', edit_device_path(device) %></td>
    <td><%= link_to 'Delete', device, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
            </table>
        </div>
    </div>
</div>
			
<div class="clear height-fix"></div>
<% content_for :ready_js do "$('#table-devices').dataTable();" end %>
