<h1>Listing action_sets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @action_sets.each do |action_set| %>
  <tr>
    <td><%= action_set.name %></td>
    <td><%= action_set.description %></td>
    <td><%= link_to action_set.user.name, user_path(action_set.user) %></td>
    <td><%= link_to 'Show', action_set %></td>
    <td><%= link_to 'Edit', edit_action_set_path(action_set) %></td>
    <td><%= link_to 'Destroy', action_set, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Action set', new_action_set_path %>
