
<div class="grid_12">
    <div class="block-border">
        <div class="block-header">
            <h1>List of Action Sets</h1>
            <p align="right"><%= link_to 'New Action Set', new_action_set_path %>&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="block-content">
            <table id="table-action-sets" class="table">
                <thead>

  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @action_sets.each do |action_set| %>
  <tr>
    <td><%= action_set.name %></td>
    <td><%= action_set.description %></td>
    <td><%= link_to action_set.user.name, user_path(action_set.user) %></td>
    <td><%= link_to 'Show', action_set %></td>
    <td><%= link_to 'Edit', edit_action_set_path(action_set) %></td>
    <td><%= link_to 'Destroy', action_set, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
        </div>
    </div>
</div>

<br />
<div class="clear height-fix"></div>
<% content_for :ready_js do "$('#table-action-sets').dataTable();" end %>


