<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @action_set.name %>
</p>

<p>
  <b>Description:</b>
  <%= @action_set.description %>
</p>

<p>
  <b>User:</b>
  <%= link_to @action_set.user.name, user_path(@action_set.user) %>
</p>


<%= link_to 'Edit', edit_action_set_path(@action_set) %> |
<%= link_to 'Back', rule_sets_path %>
