<!--BEWARE! RAILS TRICKERY AFOOT! The form is made into :action_data instead of :action because the :action symbol is a reserved paramter in the params hash.-->
<div class="grid_4">
        <div class="block-border">
                <div class="block-header">
                        <p align="right" ><%= link_to 'Show', @action %> | <%= link_to 'Back', rooms_path %>&nbsp;&nbsp;&nbsp;</p>
                </div>
<%= form_for(@action, :as => :action_data) do |f| %>
  <% if @action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@action.errors.count, "error") %> prohibited this action from being saved:</h2>

      <ul>
      <% @action.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :action_set_id %><br />
    <%= collection_select :action_data, :action_set_id, ActionSet.all, :id, :name, { :prompt => 'Please Select Action Set' } %>
  </div>
  <div class="field">
    <%= f.label :device_id %><br />
    <%= select :action_data, :device_id, Device.all.collect{ |d| [d.name, d.id] }, {:prompt => 'Please Select Device'} %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :json_data %><br />
    <%= f.text_field :json_data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<div class="clear"></div>
        </div>
</div>

