<div class="grid_12">
    <div class="block-border">
        <div class="block-header">
            <h1>List of Actions</h1>
            <p align="right"><%= link_to 'New Action', new_action_path %>&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="block-content">
            <table id="table-actions" class="table">
<thead>
  <tr>
    <th>Action set</th>
    <th>Device</th>
    <th>Value</th>
    <th>Duration</th>
    <th>Json data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @actions.each do |action| %>
  <tr>
    <td><%= link_to action.action_set.name, action_set_path(action.action_set) %></td>
    <td><%= link_to action.device.name, device_path(action.device) %></td>
    <td><%= action.value.to_s + ' ' + action.device.device_type.unit %></td>
    <td><%= action.duration %></td>
    <td><%= action.json_data %></td>
    <td><%= link_to 'Show', action %></td>
    <td><%= link_to 'Edit', edit_action_path(action) %></td>
    <td><%= link_to 'Delete', action, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
                <% end %>
                </tbody>
            </table>
        </div> <!--block-content-->
    </div> <!--block-border-->
</div> <!--grid12-->

<% content_for :ready_js do "$('#table-actions').dataTable();" end %>
