<% content_for :title do 'Users' end %>
<h1>Users</h1>

<div class="grid12">
    <div class="block-border">
        <div class="block-header">
            <h1>List of Users</h1>
            <p align="right"><%= link_to 'Add New User', new_user_path %>&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="block-content">
            <table id="table-users" class="table">
                <thead>
                    <tr>
    <th>Name</th>
    <th>Last login</th>
    <th>Administrator</th>
    <th>Password hash</th>
    <th>Last ip</th>
    <th>Phone number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.last_login %></td>
    <td><%= user.administrator %></td>
    <td><%= user.password_hash %></td>
    <td><%= user.last_ip %></td>
    <td><%= user.phone_number %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
                </tbody>
            </table>
        </div> <!--block-content-->
    </div> <!--block-border-->
</div> <!--grid12-->

<% content_for :ready_js do "$('#table-users').dataTable();" end %>

			
<div class="clear height-fix"></div>
