<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Last login</th>
    <th>Administrator</th>
    <th>Password hash</th>
    <th>Last ip</th>
    <th>Phone number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.last_login %></td>
    <td><%= user.administrator %></td>
    <td><%= user.password_hash %></td>
    <td><%= user.last_ip %></td>
    <td><%= user.phone_number %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
