<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Last login:</b>
  <%= @user.last_login %>
</p>

<p>
  <b>Administrator:</b>
  <%= @user.administrator %>
</p>

<p>
  <b>Password hash:</b>
  <%= @user.password_hash %>
</p>

<p>
  <b>Last ip:</b>
  <%= @user.last_ip %>
</p>

<p>
  <b>Phone number:</b>
  <%= @user.phone_number %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
