<%= form_for(@device_type) do |f| %>
  <% if @device_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device_type.errors.count, "error") %> prohibited this device_type from being saved:</h2>

      <ul>
      <% @device_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :module_name %><br />
    <%= f.text_field :module_name %>
  </div>
  <div class="field">
    <%= f.label :data_type %><br />
    <%= 
        opt = [ :analog, :binary ] 
        select :device_type, :data_type, opt, { :prompt => 'Please Select Data Type' }
    %>
  </div>
  <div class="field">
    <%= f.label :data_flow %><br />
    <%= 
        opt = [ :sensor, :controller ] 
        select :device_type, :data_flow, opt, { :prompt => 'Please Select Data Flow' }
    %>
  </div>
  <div class="field">
    <%= f.label :unit %><br />
    <%= f.text_field :unit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
