<% content_for :title do 'Device Types' end %>
<h1>Device Types</h1>

<div class="grid_12">
    <div class="block-border">
        <div class="block-header">
            <h1>List of Device Types</h1><span></span>
        </div>
        <div class="block-content">
            <table id="table-device_types" class="table">
                <thead>
                    <tr>
    <th>Name</th>
    <th>Module name</th>
    <th>Data type</th>
    <th>Data flow</th>
    <th>Unit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @device_types.each do |device_type| %>
  <tr>
    <td><%= device_type.name %></td>
    <td><%= device_type.module_name %></td>
    <td><%= device_type.data_type %></td>
    <td><%= device_type.data_flow %></td>
    <td><%= device_type.unit %></td>
    <td><%= link_to 'Show', device_type %></td>
    <td><%= link_to 'Edit', edit_device_type_path(device_type) %></td>
    <td><%= link_to 'Destroy', device_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
            </table>
        </div>
    </div>
</div>
			
<div class="clear height-fix"></div>
<%= link_to 'New Device Type', new_device_type_path %>
<% content_for :ready_js do "$('#table-device_types').dataTable();" end %>
