<div class="grid_4">
        <div class="block-border">
                <div class="block-header">
                        <p align="right" ><%= link_to 'Show', @condition_set %> | <%= link_to 'Back', rule_sets_path %>&nbsp;&nbsp;&nbsp;</p>
                </div>
<%= form_for(@condition_set, :html => { :class => "block-content form"}) do |f| %>
  <% if @condition_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@condition_set.errors.count, "error") %> prohibited this condition_set from being saved:</h2>

      <ul>
      <% @condition_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= collection_select :condition_set, :user_id, User.all, :id, :name, { :prompt => 'Please Select User' } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %> 
<div class="clear"></div>
        </div>
</div>
