<%= form_for(@device_permission) do |f| %>
  <% if @device_permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device_permission.errors.count, "error") %> prohibited this device_permission from being saved:</h2>

      <ul>
      <% @device_permission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :device_id %><br />
    <%= f.number_field :device_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
