<h1>Listing device_permissions</h1>

<table>
  <tr>
    <th>User</th>
    <th>Device</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @device_permissions.each do |device_permission| %>
  <tr>
    <td><%= device_permission.user_id %></td>
    <td><%= device_permission.device_id %></td>
    <td><%= link_to 'Show', device_permission %></td>
    <td><%= link_to 'Edit', edit_device_permission_path(device_permission) %></td>
    <td><%= link_to 'Delete', device_permission, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Device permission', new_device_permission_path %>
