<div class="grid_4">
        <div class="block-border">
                <div class="block-header">
                        <p align="right" ><%= link_to 'Show', @rule_set %> | <%= link_to 'Back', rooms_path %>&nbsp;&nbsp;&nbsp;</p>
                </div>
<%= form_for(@rule_set,  :html => { :class => "block-content form"}) do |f| %>
  <% if @rule_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rule_set.errors.count, "error") %> prohibited this rule_set from being saved:</h2>

      <ul>
      <% @rule_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :condition_set_id %><br />
    <%= collection_select :rule_set, :condition_set_id, ConditionSet.all, :id, :name, {:prompt => 'Please Select Condition Set'} %>
  </div>
 <div class="field">
    <%= f.label :action_set_id %><br />
    <%= collection_select :rule_set, :action_set_id, ActionSet.all, :id, :name, {:prompt => 'Please Select Action Set'} %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= collection_select :rule_set, :user_id, User.all, :id, :name, {:prompt => 'Please Select User'} %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 <div class="clear"></div>
        </div>
</div>

