<% content_for :title do 'Configure Rules' end %>
<h1>Configure Rules</h1>

<%= render 'rule_sets_table' %>
<%= render 'condition_sets/table' %>
<%= render 'conditions/table' %>
<%= render 'action_sets/table' %>
<%= render 'actions/table' %>
			
<div class="clear height-fix"></div>
